@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'webfonts';
@import 'type';
@import 'buttons';
@import 'fluidbox';

// Normalize box-sizing
* {
  box-sizing: border-box;
}


// Scaffold

a {
  color: $link-color;
  text-decoration: none;
}

.img-responsive {
  @include img-responsive;
}


// Layout

body {
  background-color: $body-bg;
  color: $text-color;
  padding-top: 64px;
  > section {
    background-color: $body-bg;
  }
}


// Hide elements according to resolution

@media (max-width: $screen-sm-max) {
  .responsive-xs {
    display: block;
  }
  .responsive-md {
    display: none;
  }
}

@media (min-width: $screen-md-min) {
  .responsive-xs {
    display: none;
  }
  .responsive-md {
    display: block;
  }
}


// Navbar

.navbar {
  width: 100%;
  height: 64px;
  background-color: $body-bg;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-navbar;
  border-bottom: 1px solid $grid-border;
}

.navbar-brand {
  @include text-hide();
  display: block;
  position: absolute;
  left: 16px;
  top: 12px;
  width: 85px;
  height: 40px;
  background: image-url('saturdays-logo.png') no-repeat 0 0;
  background-size: 85px 40px;
  @media (min-width: $screen-md-min) {
    left: 16px;
    top: 8px;
    width: 135px;
    height: 56px;
    background-size: 135px 64px;
  }
}

.navbar nav {
  position: absolute;
  right: 16px;
  top: 10px;
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      display: inline-block;
      margin-left: 8px;
    }
  }
}


// Intro

#intro {
  @include bullseye;
  position: absolute;
  z-index: $z-section;
  color: #fff;
  max-width: $screen-xxs;
  width: 100%;
  text-align: center;
  margin-top: -64px;
  margin-bottom: 32px;
  @media (min-width: $screen-sm-min) {
    max-width: $screen-sm;
    margin-top: -64px;
    padding: 0 32px;
  }
  @media (min-width: $screen-md-min) {
    max-width: $screen-md;
  }
  h1 {
    margin: 0 0 32px;
    line-height: 1.25;
  }
  p {
    margin: 0 auto 32px;
    max-width: $screen-xxs;
    @media (min-width: $screen-sm-min) {
      max-width: $screen-sm;
    }
    @media (min-width: $screen-md-min) {
      max-width: $screen-md;
    }
  }
}


// Image Holder

.img-holder,
.imageHolder {
  position: relative;
  .caption {
    @include bullseye;
    position: absolute;
    padding: 32px;
    text-align: center;
    z-index: $z-section;
    width: 100%;
    color: white;
    max-width: $screen-xxs;
    @media (min-width: $screen-sm-min) {
      max-width: $screen-sm;
    }
    @media (min-width: $screen-md-min) {
      max-width: $screen-md;
    }
    h2 {
      font-size: 32px;
      line-height: 1.5;
      margin: 0;
    }
    p {
      line-height: 1.5;
    }
  }
}


// Content Sections

.content {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  .container {
    margin: 64px auto;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      max-width: $screen-sm;
    }
  }
}


#price-tag {
  margin-left: -82px;
  img {
    margin-right: 8px;
  }
}

#try {
  padding-top: 96px;
  @media (min-width: $screen-sm-min) {
    padding-top: 128px;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 192px;
  }
  #collage {
    position: absolute;
    top: -96px;
    left: 0;
    width: 100%;
    height: 201px;
    background: image-url('categories-collage.png') no-repeat 0 0;
    background-size: 768px 201px;
    @media (min-width: $screen-sm-min) {
      top: -128px;
      background-size: 992px 261px;
      height: 261px;
    }
    @media (min-width: $screen-md-min) {
      top: -192px;
      background-size: 1440px 378px;
      height: 378px;
    }
  }
}

#filters {
  padding: 0;
  border-bottom: 1px solid $grid-border;
  h2 {
    text-align: center;
  }
  .container {
    max-width: 100%;
    margin: 32px auto 0;
    text-align: left;
  }
  .filter {
    float: left;
    width: 100%;
    margin-top: 16px;
    @media (min-width: $screen-sm-min) {
      width: 50%;
    }
    @media (min-width: $screen-md-min) {
      width: 25%;
    }
  }
  .filter-head,
  .filter-option {
    position: relative;
    float: left;
    width: 100%;
    &:before {
      position: absolute;
      content: '';
      width: 32px;
      height: 48px;
      background: $body-bg;
      left: 0;
      top: 0;
    }
    span {
      display: block;
      padding: 4px 0 4px 32px;
    }
  }
  .filter-head {
    color: $brand-primary;
  }
  .filter-option {
    cursor: pointer;
    span {
      border-top: 1px solid $grid-border;
    }
    input[type="checkbox"] {
      position: absolute;
      right: 4px;
      top: 4px;
      &:after {
        content: '';
        position: absolute;
        right: -4px;
        top: -3px;
        width: 48px;
        height: 48px;
        background-color: $body-bg;
      }
      &:checked:after {
        background: $body-bg image-url('checkmark.png') 50% 50% no-repeat;
        background-size: 12px 10px;
      }
    }
  }
  #filter-categories {
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
    @media (min-width: $screen-md-min) {
      width: 50%;
    }
    .filter-option {
      @media (min-width: $screen-sm-min) {
        width: 50%;
      }
    }
  }
  .filter-apply {
    border: 0;
    background: none;
    width: 100%;
    height: 80px;
    border-top: 1px solid $grid-border;
    color: $brand-primary;
  }
}


// Listings

#listings {
  @include clearfix;
  background-color: $listings-bg;
  padding: 20px 16px;
}

.listing {
  float: left;
  padding: 16px;
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: 50%;
  }
  @media (min-width: $screen-md-min) {
    width: 33.333%;
  }
  figure {
    width: 100%;
    height: 160px;
    margin: 0;
  }
  .listing-summary {
    background: $body-bg;
    border: 1px solid $grid-border;
    border-top: 0;
    padding: 20px 24px;
    line-height: 1.2;
  }
  h3,
  p {
    margin: 0 0 8px;
  }
}

body > footer {
  background: $brand-primary;
  color: white;
  margin: 0;
  padding: 48px 32px;
  a {
    color: white;
  }
  nav {
    text-align: center;
    margin-bottom: 32px;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 12px;
      }
    }
  }
  #copyright {
    text-align: center;
    font-size: $font-size-small;
  }
}
